@import "../../variables.scss";

.search-field-container {
    top: $navbar-height + $now-playing-height;
    z-index: 999;
}

.search-bg{    
    background:#181818;
    height:$search-height;
}

.search-results{
    padding:0;
    padding-top:$search-height - 10px;
}
