/mopidy_bamp/.idea/*
/mopidy_bamp/venv/*
docker/docker-compose.yml
docker/mopidy.conf.secrets
docker/mopidy.conf
docker/nginx.conf
docker/ldapcert
docker/icecast/icecast.xml
docker/icecast/logs/*.log
.idea
