SPOTIFY_USERNAME [replace with your Premium Spotify username]
SPOTIFY_PASSWORD [replace with your Premium Spotify password]
SPOTIFY_CLIENT_ID [replace with Spotify app client ID]
SPOTIFY_CLIENT_SECRET [replace with Spotify app client secret]
SLACK_WEB_HOOK [replace with a URL from your Slack app, leave empty to disable]
LDAP_URI [replace with the URI for LDAP server, for authentication]
LDAP_SCHEMA [replace with the LDAP schema, with the username placeholder as #USER_NAME# example: CN=#USER_NAME#,CN=Users,DC=acme,DC=com ]
BAMP_COOKIE_SECRET [generate a long enough string (e.g. 40 chars) and put it here]
ICECAST_SOURCE_PASSWORD [generate a long enough password (e.g 40 chars) and put it here]
ICECAST_RELAY_PASSWORD [generate a long enough password (e.g 40 chars) and put it here]
ICECAST_ADMIN_USER [generate a long enough text (e.g 40 chars) and put it here]
ICECAST_ADMIN_PASSWORD [generate a long enough password (e.g 40 chars) and put it here]