@import "../../variables.scss";

.now-playing-container {
	overflow:hidden;
	top:$navbar-height;
	height: $now-playing-height;
	//background-color: $now-playing-background;
	// -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.background-image-blurred{
	background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4));

	z-index: -1;
	width:100%;
	height:100%;
	position:absolute;
	margin-top:-16px;
	margin-left:-1px;

	overflow:hidden;

	justify-content: center;
    align-items: center;

	display: flex;

	img{
		$blur:8px;
		width:120%;
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
		filter: blur($blur);
  		-webkit-filter: blur($blur);
	}
}

.overlay{
	z-index: 2;
	width:100%;
	height:100%;
	position:absolute;
	margin-top:-16px;
	background:rgba(0, 0, 0, 0.858);
	text-align:center;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center;

	font-size: 2em;
}

.info-container{
	background:black;
}

.song-details{
	height:$now-playing-height - 50px;
}

.progress {
	background: rgba(245, 245, 245, 1);
	border: 0px solid rgba(245, 245, 245, 1);
	border-radius: 0px;
	height: 12px;
	width:100%;
}

.album-art {
    width:138px;
    height:138px;
}

.song-progress{
	width:100%;
	position: absolute;
	bottom:5px;
}

.blur{
	$blur : 5px;
	-webkit-filter: blur($blur); /* Safari 6.0 - 9.0 */
	filter: blur($blur);
}

.background-image{
	width:100%;
	position:fixed;
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)) no-repeat center center;
	left: 0;
	right: 0;
	z-index: 0;
	background-size: cover;
	height: $now-playing-height;
	
}

.background-image:before{
	content: "";
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;

	display: block;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.progress-bar{
	background-color : $highlight-color;
}

.requested{
	color:$secondary-text-color;
}

.track-time{
	font-size:0.8em;
}

.total-queue-time {
	font-size:0.8em;
	position: absolute;
	top: 1em;
	right: 3em;
  }