<div *ngIf="showStreamControls">
    <audio #IcecastStreamAudio></audio>
    <div id="StreamControls" class="row" *ngIf="isStreaming">
        <div class="col text-right">
            <i class="fa fa-volume-down" (click)="onMute()"></i>
        </div>
        <div class="col-8 px-0 volume-input">
            <input type="range" #VolumeInput [(ngModel)]="currentVolume" (input)="onVolumeChanged()" min="0" max="1" step="0.01">
        </div>
        <div class="col">
            <i class="fa fa-volume-up" (click)="onMaxVolume()"></i>
        </div>
    </div>
    <div id="StreamControls" class="row" *ngIf="!isStreaming">
        <div class="col text-center">
            <div *ngIf="isLoadingStream" class="spinner-border"></div>
            <button *ngIf="!isLoadingStream" class="btn btn-sm btn-outline-secondary" (click)="connectToStream()">Join Stream</button>
        </div>
    </div>
</div>