@import "../../variables.scss";

.navbar {
    background:#121212;
    height: 40px;
    // -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    // box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    .navbar-brand
    {
        &:hover{
            color: $text-color;    
        }        
    }   
}

.active
{
    color : $highlight-color;
}

.logo
{
    $logo-size : 27px;
    height : $logo-size;
    width : $logo-size;
    margin-right : 10px;
}

$logo-font-size : 1.1rem;

.logo-1
{
    font-family: 'Poppins', sans-serif;
    font-size: $logo-font-size;
    color : $highlight-color;
    font-weight: 600;
}

.logo-2
{
    font-family: 'Poppins', sans-serif;
    font-size: $logo-font-size;
    font-weight: 100;    
}