$navbar-height: 40px;
$now-playing-height: 195px;

$text-color: #fff;
$secondary-text-color: rgb(173, 173, 173);
$highlight-color: #aad400;
$now-playing-background: rgb(51, 51, 51);
$list-item-color: #121212;
$background-gradient-color-1: rgb(41, 41, 41);
$background-gradient-color-2: #181818;
$upvote-color: #aad400;
$downvote-color: #588290;
$search-height : 75px;